html {
    box-sizing: border-box;
    background:#ffc600;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    
}

.panel {
    
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    
}

.panel1 { background-image:url(../img/01.jpg); }
.panel2 { background-image:url(../img/02.jpg); }
.panel3 { background-image:url(../img/03.jpg); }
.panel4 { background-image:url(../img/04.jpg); }
.panel5 { background-image:url(../img/05.jpg); }

/* Flex Items */
.panel > * {
    
}

.panel > *:first-child {  }
.panel.open-active > *:first-child {   }
.panel > *:last-child {  }
.panel.open-active > *:last-child {  }

.panel p {
    
}
.panel p:nth-child(2) {
    
}

.panel.open {
    
}

.cta {
	color:white;
    text-decoration: none;
}
